body {
    background-color: rgb(167, 150, 150);
    }

.pageHeader {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.buttons {
    display: block;
    width: 150px;
    margin: 10px;

}

img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
    width: auto;
}

.selectionsContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.selection {
    display: inline-flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
}

.resultNotification {
    text-align: center;
}